@section Styles{   
    <link href="~/css/客服中心.css" rel="stylesheet" />
}
<body>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="~/images/大頭貼修改.png" class="card-img-top">
                        <div class="card-body mb-3">
                            <h5 class="card-title">蝦愛橘子</h5>

                            <input type="file" class="form-control" id="inputGroupFile02">
                        </div>
                    </div>



                    <div>
                        <div>@Html.ActionLink("個人資訊", "List", "CustomerCenter", null, new { @class = "list-group-item list-group-item-action active", aria_current = "true" })</div>
                        <div>@Html.ActionLink("訂單管理", "ProductManage", "CustomerCenter", null, new { @class = "list-group-item list-group-item-action" })</div>
                        <div>  @Html.ActionLink("我的最愛", "Myfavorites", "CustomerCenter", null, new { @class = "list-group-item list-group-item-action" })</div>
                        <div> @Html.ActionLink("我的評論", "Review", "CustomerCenter", null, new { @class = "list-group-item list-group-item-action" })</div>
                        <div> @Html.ActionLink("Star積分", "Star", "CustomerCenter", null, new { @class = "list-group-item list-group-item-action" })</div>
                        <div>@Html.ActionLink("優惠券", "Coupon", "CustomerCenter", null, new { @class = "list-group-item list-group-item-action" })</div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <div class="row row-cols-1">
                        <div class="col">
                            <h3>個人資訊</h3>
                            <p>以下資訊僅用於幫助你在付款時自動填寫你的個人資料，你的資料將會安全地被 Klook 保存且不會公開</p>
                        </div>
                        <div class="box_body d-flex  mb-2">
                            <div class="inputs p-2 flex-fill">
                                <header>姓氏</header>
                                <input class="form-control" type="text" placeholder="姓氏" aria-label="default input example">
                            </div>

                            <div class="inputs p-2 flex-fill">
                                <header>名稱</header>
                                <input class="form-control" type="text" placeholder="名稱" aria-label="default input example">
                            </div>
                        </div>

                        <div class="box_body d-flex  mb-2">
                            <div class="inputs p-2 flex-fill">
                                <header>EMAIL</header>
                                <input class="form-control" type="text" placeholder="123" aria-label="default input example">
                            </div>

                            <div class="inputs p-2 flex-fill">
                                <header>聯繫電話</header>
                                <input class="form-control" type="text" placeholder="PHONE" aria-label="default input example">
                            </div>
                        </div>

                        <div class="box_body d-flex  mb-2">
                            <div class="inputs p-2 ">
                                <header>居住區域</header>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>台北市</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>

                            <div class="inputs p-2 flex-grow-1">
                                <header>地址</header>
                                <input class="form-control" type="text" placeholder="北投區111號" aria-label="default input example">
                            </div>
                        </div>

                        <div class="box_body d-flex  mb-2">
                            <div class="inputs p-2 flex-fill">
                                <header>重設密碼</header>
                                <input class="form-control" type="text" placeholder="password" aria-label="default input example">
                            </div>

                            <div class="inputs p-2 flex-fill">
                                <header>再次確認密碼</header>
                                <input class="form-control" type="text" placeholder="password" aria-label="default input example">
                            </div>
                        </div>

                        <div class="d-flex mb-3">
                            <div class="me-auto p-2">
                                <button type="button" class="btn btn-warning">儲存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </article>
</body>

  
